.container-ajax {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    background-color: aliceblue;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#submitButton {
    background-color: #0099cc; /* Bootstrap primary blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitButton:hover {
    background-color: #085fbb; /* Darker blue on hover */
}